.gallery-section {
  padding: 50px 0;
  background-color: transparent;
  text-align: center;
}

.gallery-header h2 {
  color: #fff;
  margin-bottom: 20px;
}

.gallery-text {
  color: #fff;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-text p {
  margin-bottom: 20px;
}
